<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DP900 Web App</title>

  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- Material Design for Bootstrap CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  -->
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  {{{body}}}

  <footer class="footer text-dark bg-light">
    <div class="container py-3">
      <p class="mb-2"><b>Contact Technical Support:</b>&nbsp;&nbsp;&nbsp;<a href="https://forms.netsuite.com/app/site/crm/externalcasepage.nl?compid=ACCT118369&amp;formid=9&amp;h=313e790177cc06fa19b4" target="_blank"><i class="fas fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.dataphysics.com/contact-us/international.html" target="_blank"><i class="fas fa-phone"></i></a></p>
      <p class="small"><a href="http://www.dataphysics.com/" target="_blank">Data Physics Corporation</a>&nbsp;<i class="far fa-copyright" aria-hidden="true"></i>&nbsp;<span id="footerYear"></span></p>
      <script>
        var d = new Date();
        document.getElementById("footerYear").innerHTML = d.getFullYear();
      </script>
    </div>
  </footer>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  <script src="/javascripts/DP.js"></script>
</body>
</html>
