body{
  min-width:360px;
}

.panelL{
  border-radius: 4px;
  background-color: gainsboro;
}

.panelRefresh {

}

.panelRefresh .form-group {
  margin: 0px;
}

.panelRefresh .form-inline {
  margin: 0px;
}

#btnRefresh {
  color: #c9033b;
}

#valRefresh {
  width: 50px !important;
}

#valPort {
  width: 60px !important;
}

#valIP {
  width: 80px !important;
}

#systemTab {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#btnAddTab {
  margin: 0;
}

.panelAnalyzer, .panelController, .panelStatus {
  font-size: 90%;
}

#cmdState {
  font-weight: bold;
}

.panelProgress .col{
  padding: 0px;
}

.progress {
  height: 24px;
  border-radius: 4px;
  padding: 4px;
}

.progress-bar {
  border-radius: 4px;
  background-color: #c9033b;
}

.panelBtns {

}

.panelStatus {

}

.panelBtn {
  margin-bottom: 0;
}

#btnInit {
  color: var(--white);
  background-color: var(--gray);
  border-color: var(--gray);
}

#btnStart {
  color: var(--white);
  background-color: var(--green);
  border-color: var(--green);
}

#btnResume {
  color: var(--white);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

#btnStop {
  color: var(--white);
  background-color: var(--orange);
  border-color: var(--orange);
}

#btnEnd {
  color: var(--white);
  background-color: var(--red);
  border-color: var(--red);
}

#btnRefresh, #btnOpen, #btnClose {
  height: 39px;
}

.bg-dp {
  background-color: #9c022e;
}

.text-dp {
  color: #9c022e;
}

.bg-dp-light {
  background-color: #c9033b;
}

.text-dp-light {
  color: #c9033b;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #c9033b;
}

/* .kitchen-sink-drawer-static {
  $custom-size: 500px;
  @include bmd-drawer-x-out("250px"); // closed by default
  @include bmd-drawer-x-in("100px"); // triggered with bmd-drawer-in
  @include bmd-drawer-x-push(); // overlay by default, no other classes necessary
} */
